#donnee table {
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.418);
}

#donnee thead {
    position: sticky;
    top: 0px;
    background-color: rgb(103, 103, 156);
}

#donnee {
    background-color: rgba(0, 0, 0, 0.055);
    width: 80%;
    margin: auto;
    height: 80%;
    overflow: auto;
}

#donnee table {
    width: 100%;
    margin: auto;
}

#donnee table th,
td {
    padding: 15px 10px;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 16px;
}


/* custcode and custname fixed */

table thead .style1 {
    left: 0px;
    position: sticky;
    background-color: rgb(88, 88, 122);
}

table tbody .style01 {
    left: 0px;
    color: black;
    position: sticky;
    background-color: rgb(58, 57, 100);
    overflow: auto;
    overflow: auto;
}

table thead .style2 {
    left: 83px;
    background-color: rgb(88, 88, 122);
    position: sticky;
}

table tbody .style02 {
    left: 83px;
    color: black;
    position: sticky;
    background-color: rgb(58, 57, 100);
    overflow: auto;
}

#total {
    background-color: rgba(0, 0, 0, 0.2);
}

#total table {
    border-collapse: collapse;
    margin-left: 15%;
}

#total table th,
td {
    padding: 8px 10px;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 16px;
}

#download {
    width: 180px;
    background-color: rosybrown;
    margin-left: 70%;
}

#total,
#download {
    margin-bottom: 12px;
}

#formu {
    display: none;
}

.home {
    background-image: linear-gradient(hsla(116, 80%, 4%, 0.788), rgba(6, 31, 16, 0.39)), url("../img/bd4.jpg");
}